<form method="post" action="/addflight">
  <label for "nickname"> Nickname:
    <input type="text" name="nickname" required>
  </label><br>

  <label for"departure"> Departing from:
    <input type="text" name="departure">
  </label><br>

  <label for"arrival"> Arriving in:
    <input type="text" name="arrival">
  </label> <br>

  <label for "airline"> Airline:
    <input type="text" name="airline" required>
  </label><br>

  <label for "flightnum"> Flight number:
    <input type="text" name="flightnum" required>
  </label><br>

  <label for "date"> Departing on (date):
    <input type="date" name="date" required>
  </label><br>

  <label for "time"> Departing at:
    <input type="time" name="time" required>
  </label><br>

  <button class="add_btn" type="submit">Add Flight</button>
</form>